@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overscroll-behavior: none;
  }
}

@layer utilities {
  .slide-move {
    transition: transform 0.3s ease;
  }
  .slide-enter-active,
  .slide-exit-active {
    transition: all 0.3s ease;
  }
  .slide-enter,
  .slide-exit-to {
    transform: translateX(10px);
    opacity: 0;
  }
}
